<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>سایت برنامه نویسی</title>
  <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
  <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300|Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/assest/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assest/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/assest/css/animate.css">
  <link rel="stylesheet" type="text/css" href="/assest/css/style.css">

</head>

<body>
 <!--header-->
 <header class="main-header" id="header">
    <div class="bg-color">
      <!--nav-->
      <nav class="nav navbar-default navbar-fixed-top">
        <div class="container">
          <div class="col-md-12">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false" aria-controls="navbar">
                            <span class="fa fa-bars"></span>
                        </button>
              @* <a href="index.html" class="navbar-brand">Bethany</a>*@
            </div> 
            <div class="collapse navbar-collapse navbar-right" id="mynavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/Register/#register">ثبت نام</a></li>
                <li class="active"><a href="/home/index/#contact">ارتباط با ما</a></li>
                <li class="active"><a href="/">صفحه اصلی</a></li>
                @* <li><a href="#feature">Feature</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contact">Contact</a></li> *@
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <!--/ nav-->
      <div class="container text-center">
        <div class="wrapper wow fadeInUp delay-05s">
          <h2 class="top-title fo-ye"> مدرس و طراح و توسعه دهنده سایت </h2>
          <h3 class="title fo-in">محسن پاشائی</h3>
          <h4 class="sub-title">We Create amazing designs</h4>
          @* <button type="submit" class="btn btn-submit">Download Now</button> *@
          <a href="/Register" class="btn btn-submit btn-lg"> ثبت نام </a>
        </div>
      </div>
    </div>
  </header>
  <!--/header-->

  @RenderBody()
 
  <!--footer-->
  <footer class="" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 footer-copyright">
          © تمامی حقوق محفوظ است.
          @* <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div> *@
        </div>
        <div class="col-sm-5 footer-social">
          <div class="pull-right hidden-xs hidden-sm">
            @* <a href="#"><i class="fa fa-facebook"></i></a> *@
            @* <a href="#"><i class="fa fa-dribbble"></i></a> *@
            <a target="_blank" href="https://instagram.com/cpt_moh3en"><i class="fa fa-instagram"></i></a>
            <a target="_blank" href="https://wa.me/00989227241678"><i class="fa fa-whatsapp"></i></a>
            <a target="_blank" href="https://twitter.com/cpt_moh3eN"><i class="fa fa-twitter"></i></a>
            <a target="_blank" href="mailto:cpt.moh3en@gmail.com"><i class="fa fa-google-plus"></i></a>
            @* <a href="#"><i class="fa fa-pinterest"></i></a> *@
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/footer-->

    <!--contact ends-->
    <script src="/assest/js/jquery.min.js"></script>
    <script src="/assest/js/jquery.easing.min.js"></script>
    <script src="/assest/js/bootstrap.min.js"></script>
    <script src="/assest/js/wow.js"></script>
    <script src="/assest/js/custom.js"></script>
    @* <script src="/assest/contactform/contactform.js"></script> *@

</body>
</html>
