@{ 
	Layout = "_Layout2";
}

<div class="container">
    <div class="row text-center">
        <a class="btn btn-danger btn-lx" href="/Result/Message"> پیام ها </a>
        <a class="btn btn-danger btn-lx" href="/Result/SignUp"> ثبت نام ها </a>
    </div>
</div>