@{
    ViewData["Title"] = "ثبت نام";
}
@model Models.User_ViewModel

<!---->
  <section class="section-padding wow fadeInUp delay-05s" id="register">
    <div class="container">
      <div class="row white">
        <div class="col-md-8 col-sm-12">
          <div class="section-title">
            <h2 class="head-title black fo-pa"> ثبت نام</h2>
            <hr class="botm-line">
            <p class="sec-para black fo-18">
              برای حضور در دوره های آموزسی فرم زیر را پر کنید . 
            </p>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="col-12 mt-4">  
            @if (ViewBag.ok != null)
            {
                <div class="my-1 col-12 text-center">
                    <p class="alert alert-success"> @ViewBag.ok </p>
                </div>
            }
            @if (ViewBag.er != null)
            {
                <div class="my-1 col-12 text-center">
                    <p class="alert alert-danger"> @ViewBag.er </p>
                </div>
            }
          </div>
          <div class="col-12" style="padding-left:0px;">
            <h3 class="cont-title fo-pa"> اطلاعات فردی </h3>
            <div class="contact-info">
              <form asp-action="SignUp" asp-controller="Home" method="POST" role="form" class="contactForm" autocomplete="off">
                
                <div class="form-group">
                  <input type="text" class="form-control" asp-for="Name" placeholder=" نام " data-rule="minlen:2" data-msg=" لطفا نام خود را وارد کنید...! " required/>
                  <div class="validation"></div>
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" asp-for="Family" placeholder=" نام خانوادگی " data-rule="minlen:2" data-msg=" لطفا نام خانوادگی خود را وارد کنید...! " required />
                  <div class="validation"></div>
                </div>

                <div class="form-group">
                  <input type="number" class="form-control" asp-for="Age" placeholder=" سن " data-rule="minlen:1" data-msg=" لطفا سن خود را به عدد وارد کنید...! " required />
                  <div class="validation"></div>
                </div>

                <div class="form-group">
                  <input type="tel" class="form-control" asp-for="NationalCode" placeholder=" کدملی " minlength="10" maxlength="10" data-msg=" لطفا سن خود را به عدد وارد کنید...! " required />
                  <div class="validation"></div>
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" asp-for="Education" placeholder=" تحصیلات " data-rule="minlen:5" data-msg=" لطفا تحصیلات خود را به عدد وارد کنید...! " required />
                  <div class="validation"></div>
                </div>

                <div class="form-group">
                  <input type="tel" class="form-control" asp-for="PhoneNumber" placeholder=" شماره همراه " minlength="11" maxlength="11" data-msg=" لطفا شماره همراه خود را به عدد وارد کنید...! " required />
                  <div class="validation"></div>
                </div>

                <div class="form-group">
                  <input type="email" class="form-control" asp-for="Email" placeholder=" ایمیل " data-rule="email" data-msg=" لطفا یک ایمیل معتبر وارد کنید...! " required />
                  <div class="validation"></div>
                </div>
                
                <div class="form-group text-center">
                  <button type="submit" class="btn btn-send">ثبت</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!---->
